body{
    margin:0;
    padding:0;
}

.header-section{
    position: relative;
    background-color: rgb(14, 6, 124);
}

.header-section-background{
    object-fit: cover;
    object-position:0% 30%;
    opacity: 70%;
    filter:blur(1px);
}


.header-service-choices {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    background-color: rgba(105, 101, 167, 0.7);
    backdrop-filter: blur(6px);
    padding: 20px; /* Adjust the padding as needed */
    text-align: center;
    color: white;

}

.header-service-choices h1 {
    margin-bottom: 10px;
}

.header-service-choices ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.header-service-choices li {
    margin: 0;
    padding: 20px;
    max-width:200px;
}

.service-title{
    font-size:25px;
}


.divider{
    background-color: white;
    width:100%;
    height:5px;
}



.booking-section{
    background: linear-gradient(30deg, rgb(170, 0, 142),rgb(0, 48, 179));
    width: 100%;
    height: 80vh;
    color:white;
}

.booking-section h2{
    padding:100px 0px 0px 0px;
    text-align: center;
    text-decoration: underline;
}
.booking-section p{
    padding:10px;
    text-align: center;

}

.booking-section ul {
    list-style:none;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}
.booking-section li {
    margin: 0;
    padding: 40px;
    width: 300px;
    margin:0px 20px 0px 20px;
    background-color: white;
    color:black;
    display:flex;
    flex-direction:column;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
}
.booking-section li:hover {
    transform:scale(1.1);
}
.booking-section .service-description{
    padding:0px;
    max-width: 100%;
    box-sizing: border-box;
}

.service-description ol{
    list-style:circle;
    padding-left:20px;
}
.service-description li{
    padding:5px;
    max-width:100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.booking-section .book-button{
    margin-top:10px;
    align-self: center;
    border: 2px black solid;
    padding:3px 8px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
}
.booking-section .book-button:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

.footer{
    background:rgb(41, 41, 41);
    color:white;
    height:30px;
    justify-content: center;
}
.footer p{
    padding:2px;
    font-size:13px;
    text-align: center;
}